{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}
<body>    
    <!-- Breaking News Start -->
    <div class="container-fluid mt-5 mb-3 pt-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <div class="section-title border-right-0 mb-0" style="width: 180px;">
                            <h4 class="m-0 text-uppercase font-weight-bold">Chapter 1</h4>
                        </div>
                        <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center bg-white border border-left-0"
                            style="width: calc(100% - 180px); padding-right: 100px;">
                            <div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="">Investing is all about balancing risk and return</a></div>
                            <div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href=""></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breaking News End -->


    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- News Detail Start -->
                    <div class="position-relative mb-3">
                        <img class="img-fluid w-100" src="img/news-700x435-1.jpg" style="object-fit: cover;">
                        <div class="bg-white border border-top-0 p-4">
                            <div class="mb-3">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="">Chapter 1</a>
                                <a class="text-body" href="">Jan 01, 2045</a>
                            </div>
                            <h3 class="mb-3 text-secondary text-uppercase font-weight-bold">What/Why are we investing?</h3>
                            <p> In the past, we are saving food for the winter during summer. People were trading food when both met their needs. 
                                When I reflect on the present market, people save money for food or other products. People spend money for their needs. 
                                The difference is only money. Money is the bridge of trading.   </p>

                            <p> By knowing the appropriate tax, we can set the plan 'how much i need to spend?' 
                                'how much i can invest' By knowing the range, we know which security best fits on us.
                            </p>
                            <h3 class="text-uppercase font-weight-bold mb-3">(Back to Question) Why are we investing?</h3>
                            <p>
                                We invest for the expectation of return. 
                                When we expect there is only a loss for investment, 
                                no one will do that. Profit helps us live a more convenient life, 
                                the same as past and present. 
                            </p>
                        
                            
                            <h3 class="text-uppercase font-weight-bold mb-3">The definition of investments, Portfolio, and Rewards/ Returns.</h3>
                            <p>
                                Investment: asset into which 
                                you place funds with the expectation that it 
                                will generate positive income and/or increase its value.
                            </p>
                            <p>
                                Portfolio: A collection of different investments is called a portfolio. 
                            </p>
                            <p>
                                Rewards/ Returns: income and increased value.                             
                            </p>

                            <h3 class="mb-3 text-secondary text-uppercase font-weight-bold">Attributes of Investments</h3>
                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold">Securities or Property</h4>
                            <p> Securities: Investments issued by firms, governments,
                                or other organizations that represent a financial claim on the issuer’s resources. </p>

                            <p> Liquidity: The flexibility of market</p>

                            <p>Property:  Real assets that are typically less liquid than securities</p>
                            <p> - Real property: land, buildings, and things permanently affixed to the land</p>
                            <p> - Tangible personal property: such as gold, artwork, antiques, and collectibles</p>
                               
                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold">Direct and Indirect</h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> - Direct Investment: Investors directly acquires a claim/ownership </p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> - Indirect Investment: Investor indirectly acquires a claim/ownership via a professional investment manager</p>

                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold">Debt, Equity, or Derivative Securities</h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> - Debt: investor lends funds in exchange for interest income and repayment of loan in futures (bonds) </p>

                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> - Equity: ongoing ownership in a business or property (common stocks)</p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> - Derivative Securities: neither debt nor equity; derive value from an underlying asset (options)</p>

                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold">Low or High Risk Investments</h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> Risk: Uncertainty surrounding the return that a particular investment will generate</p>

                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> - Low risk: more predictable, lower average return</p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> - High risk: less predictable, higher average return</p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> Diversification: holding different types of assets in an investment portfolio</p>
                        
                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold">Short- or Long-Term Investments</h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> Short- Term: Maturities of one year or less</p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> Long-Term: Maturities of longer than one year</p>
                       
                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold">Domestic or Foreign </h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> Domestic: Securities issued by domestic companies </p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> Foreign: Securities issued by foreign companies </p>

                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold">Households </h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> Federal, state and local projects & operations </p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> Typically net demanders of funds </p>

                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold">Government </h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> Federal, state and local projects & operations </p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> Typically net demanders of funds </p>

                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold">Businesses </h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> Investments in production of goods and services </p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> Typically net demanders of funds </p>

                            <h3 class="mb-3 text-secondary text-uppercase font-weight-bold"> The Structure of the Investment Process </h3>
                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold"> Bringing Together Suppliers and Demanders of Funds </h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> Financial Institutions: organizations, such as banks, mutual funds, and insurance companies, 
                                that pool the resources of households and other savers and use those funds to make loans and to invest in securities. </p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> Financial Markets: markets in which suppliers and demanders of funds trade financial assets, 
                                typically with the assistance of intermediaries such as securities brokers and dealers </p>

                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold"> Types of Investors </h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> Individual Investors: individuals that manage their own funds to achieve their financial goals </p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> Institutional Investors: investment professionals who earn their living by managing other people’s money </p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> • Professionals that trade large volumes of securities for individuals, as well as for businesses and governments </p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> • Includes banks, life insurance companies, mutual funds, pension funds, and hedge funds </p>

                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold"> Investors have a large variety of investments to choose from to achieve their investment goals.  </h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> -   Short-Term Investment,
                                -	Common Stock
                                -	Fixed-Income Securities 
                                -	Mutual Funds 
                                -	Exchange- Traded Funds 
                                -	Hedge Funds 
                                -	Derivatives Securities 
                                -	Other Popular Investments
                                  </p>

                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold"> Short-term Investment </h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> -	Investments with lives of 1 year or less and little risk: US Treasury Bills </p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> -	Provide high liquidity </p>
      
                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold"> Common Stock </h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> -	Represents an ownership share of a corporation </p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> -	Return comes through dividends and capital gains </p>

                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold"> Fixed-Income Securities  </h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> -	Bonds are long-term debt instrument issued by corporations and governments </p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> -	Convertible securities are special fixed-income securities that can be converted into stock  </p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> -	Preferred Stock represents an ownership claim, but has no maturity and pays a fixed dividend.  </p>

                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold"> Mutual funds </h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> -	Bonds are long-term debt instrument issued by corporations and governments </p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> -	Convertible securities are special fixed-income securities that can be converted into stock  </p>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold"> -	Preferred Stock represents an ownership claim, but has no maturity and pays a fixed dividend.  </p>

                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold"> Exchange-traded funds (ETFs) </h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold">Like mutual funds, except ETF shares trade on exchanges, so investors can buy and sell them at any time that exchanges are open for trading</p>

                            <h4 class="mb-3 text-secondary text-uppercase font-weight-bold"> Hedge Funds</h4>
                            <p class="mb-3 text-secondary text-uppercase font-weight-bold">Funds that pool resources from different investors, but usually have higher minimum investments and are less regulated than mutual funds</p>

                        </div>
                        <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle mr-2" src="img/user.jpg" width="25" height="25" alt="">
                                <span>Hyuntae Kim</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="ml-3"><i class="far fa-eye mr-2"></i>0</span>
                                <span class="ml-3"><i class="far fa-comment mr-2"></i>0</span>
                            </div>
                        </div>
                    </div>
                    <!-- News Detail End -->

                    <!-- Comment List Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Summary & Understanding</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            <div class="media mb-4">
                                <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                <div class="media-body">
                                    <h6><a class="text-secondary font-weight-bold" href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                                    <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                                        accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                                    <button class="btn btn-sm btn-outline-secondary">Reply</button>
                                </div>
                            </div>
                            <div class="media">
                                <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                <div class="media-body">
                                    <h6><a class="text-secondary font-weight-bold" href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                                    <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore
                                        accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                                    <button class="btn btn-sm btn-outline-secondary">Reply</button>
                                    <div class="media mt-4">
                                        <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1"
                                            style="width: 45px;">
                                        <div class="media-body">
                                            <h6><a class="text-secondary font-weight-bold" href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                                            <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor
                                                labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed
                                                eirmod ipsum.</p>
                                            <button class="btn btn-sm btn-outline-secondary">Reply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Comment List End -->

                    <!-- Comment Form Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Leave a comment</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            <form>
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Name *</label>
                                            <input type="text" class="form-control" id="name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email *</label>
                                            <input type="email" class="form-control" id="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="url" class="form-control" id="website">
                                </div>

                                <div class="form-group">
                                    <label for="message">Message *</label>
                                    <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                                <div class="form-group mb-0">
                                    <input type="submit" value="Leave a comment"
                                        class="btn btn-primary font-weight-semi-bold py-2 px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Comment Form End -->
                </div>

                <div class="col-lg-4">
                    <!-- Social Follow Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                                <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Fans</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                                <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                                <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Connects</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                                <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                                <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Subscribers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                                <i class="fab fa-vimeo-v text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                        </div>
                    </div>
                    <!-- Social Follow End -->

                    <!-- Ads Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Advertisement</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <a href=""><img class="img-fluid" src="img/news-800x500-2.jpg" alt=""></a>
                        </div>
                    </div>
                    <!-- Ads End -->

                    <!-- Popular News Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Tranding News</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="img/news-110x110-1.jpg" alt="">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Business</a>
                                        <a class="text-body" href=""><small>Jan 01, 2045</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">Lorem ipsum dolor sit amet elit...</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="img/news-110x110-2.jpg" alt="">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Business</a>
                                        <a class="text-body" href=""><small>Jan 01, 2045</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">Lorem ipsum dolor sit amet elit...</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="img/news-110x110-3.jpg" alt="">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Business</a>
                                        <a class="text-body" href=""><small>Jan 01, 2045</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">Lorem ipsum dolor sit amet elit...</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="img/news-110x110-4.jpg" alt="">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Business</a>
                                        <a class="text-body" href=""><small>Jan 01, 2045</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">Lorem ipsum dolor sit amet elit...</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" src="img/news-110x110-5.jpg" alt="">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Business</a>
                                        <a class="text-body" href=""><small>Jan 01, 2045</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">Lorem ipsum dolor sit amet elit...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Popular News End -->

                    <!-- Newsletter Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Newsletter</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <p>Aliqu justo et labore at eirmod justo sea erat diam dolor diam vero kasd</p>
                            <div class="input-group mb-2" style="width: 100%;">
                                <input type="text" class="form-control form-control-lg" placeholder="Your Email">
                                <div class="input-group-append">
                                    <button class="btn btn-primary font-weight-bold px-3">Sign Up</button>
                                </div>
                            </div>
                            <small>Lorem ipsum dolor sit amet elit</small>
                        </div>
                    </div>
                    <!-- Newsletter End -->

                    <!-- Tags Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <div class="d-flex flex-wrap m-n1">
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Politics</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Corporate</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Health</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Education</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Science</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Foods</a>
                                <a href="" class="btn btn-sm btn-outline-secondary m-1">Travel</a>
                            </div>
                        </div>
                    </div>
                    <!-- Tags End -->
                </div>
            </div>
        </div>
    </div>
    <!-- News With Sidebar End -->
</body>   
{% include "footer.html" %}
</html>